@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "/Views/Shared/_LandingLayout.cshtml";
}



<h1>@ViewData["Title"]</h1>
@{



    <p>
        Please check your email to confirm your account.
    </p>
}